
.btn{
  background-color: $mainDarkGreen;
  color:#FFF;
  text-decoration: none;
  padding: .75rem 1.2rem;
  display: inline-block;

  &:hover {
    opacity:0.75;
    box-shadow: 0 12px 12px 0 rgba(0,0,0,0.24), 0 17px 17px 0 rgba(0,0,0,0.19);
  }

  &--gold{
    background-color: $mainGold;
  }

  &--large{
    padding: 1.1rem 1.9rem;

    @mixin atSmall{
      font-size: 1.25rem;
    }
  }
}
